.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 768px) {
  .nhsuk-navbar__menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .nhsuk-navbar__item {
    margin-left: 0;
    margin-bottom: 10px;
  }
}


